USE [master]
GO
/****** Object:  Database [Remotedb]    Script Date: 1/28/2025 10:49:42 AM ******/
CREATE DATABASE [Remotedb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Remotedb', FILENAME = N'F:\Program Files (x86)\Plesk\Databases\MSSQL\MSSQL16.MSSQLSERVER2022\MSSQL\DATA\Remotedb.mdf' , SIZE = 73728KB , MAXSIZE = 512000KB , FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Remotedb_log', FILENAME = N'F:\Program Files (x86)\Plesk\Databases\MSSQL\MSSQL16.MSSQLSERVER2022\MSSQL\DATA\Remotedb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Remotedb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Remotedb]
GO
/****** Object:  User [Remoteuser]    Script Date: 1/28/2025 10:49:44 AM ******/
CREATE USER [Remoteuser] FOR LOGIN [Remoteuser] WITH DEFAULT_SCHEMA=[Remoteuser]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [Remoteuser]
GO
ALTER ROLE [db_datareader] ADD MEMBER [Remoteuser]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [Remoteuser]
GO
/****** Object:  Schema [Remoteuser]    Script Date: 1/28/2025 10:49:44 AM ******/
CREATE SCHEMA [Remoteuser]
GO
/****** Object:  Table [dbo].[Project_Weekly_Update]    Script Date: 1/28/2025 10:49:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Project_Weekly_Update](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[project_Id] [int] NULL,
	[w_date] [date] NULL,
	[comment] [text] NULL,
	[completion] [int] NULL,
	[createdAt] [datetime] NULL,
	[updateAt] [datetime] NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_AdminAddProject]    Script Date: 1/28/2025 10:49:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_AdminAddProject](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](400) NULL,
	[assignDate] [nvarchar](20) NULL,
	[startDate] [nvarchar](20) NULL,
	[completionDate] [nvarchar](20) NULL,
	[projectManager] [int] NULL,
	[budget] [float] NOT NULL,
	[description] [nvarchar](max) NULL,
	[ProjectDocument] [nvarchar](max) NULL,
	[projectType] [varchar](30) NULL,
	[stage] [bit] NULL,
	[createdAt] [datetime] NULL,
	[updatedAt] [datetime] NULL,
	[createdBy] [varchar](50) NULL,
	[CompleteStatus] [bit] NULL,
	[ApproveStatus] [bit] NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK__tbl_Admi__3213E83FD28B3DEE] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_AdminCreateMeeting]    Script Date: 1/28/2025 10:49:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_AdminCreateMeeting](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[meetingType] [varchar](20) NULL,
	[meetingLink] [nvarchar](max) NULL,
	[meetingTitle] [varchar](300) NULL,
	[meetingTime] [nvarchar](20) NULL,
	[meetingDocument] [nvarchar](max) NULL,
	[createdBy] [varchar](50) NULL,
	[completeStatus] [bit] NULL,
	[createddate] [date] NULL,
	[updatedDate] [varchar](50) NULL,
	[status] [bit] NULL,
	[FollowUpStatus] [bit] NULL,
	[meetSummary] [nvarchar](max) NULL,
	[CreaterId] [int] NULL,
 CONSTRAINT [PK__tbl_Admi__3213E83F387C040C] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_adminDesignation]    Script Date: 1/28/2025 10:49:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_adminDesignation](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[designationName] [varchar](100) NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_adminDevision]    Script Date: 1/28/2025 10:49:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_adminDevision](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[devisionName] [varchar](100) NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_AdminEmployees]    Script Date: 1/28/2025 10:49:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_AdminEmployees](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[employeeCode] [varchar](50) NULL,
	[name] [varchar](100) NULL,
	[mobile] [bigint] NULL,
	[email] [nvarchar](100) NULL,
	[gender] [varchar](10) NULL,
	[role] [varchar](50) NULL,
	[devision] [int] NULL,
	[designation] [int] NULL,
	[profile] [nvarchar](max) NULL,
	[CreationDate] [date] NULL,
	[status] [bit] NULL,
	[activeStatus] [bit] NULL,
 CONSTRAINT [PK__tbl_Admi__3213E83FDA586FB1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_AdminExternalProject]    Script Date: 1/28/2025 10:49:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_AdminExternalProject](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[project_Id] [int] NULL,
	[DepartmentName] [varchar](100) NULL,
	[contactPerson] [nvarchar](100) NULL,
	[address] [varchar](300) NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK__tbl_Admi__3213E83F04A2D4BC] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_AdminMeetingKeyPoint]    Script Date: 1/28/2025 10:49:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_AdminMeetingKeyPoint](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[meeting] [int] NULL,
	[keyPoint] [varchar](500) NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_AdminMeetingMember]    Script Date: 1/28/2025 10:49:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_AdminMeetingMember](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[employee] [int] NULL,
	[meeting] [int] NULL,
	[status] [bit] NULL,
	[conclusionId] [int] NULL,
	[presentStatus] [bit] NULL,
 CONSTRAINT [PK__tbl_Admi__3213E83F0B757F7E] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_AdminNotice]    Script Date: 1/28/2025 10:49:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_AdminNotice](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[project_Id] [int] NULL,
	[NoticeDocument] [nvarchar](max) NULL,
	[noticeDescription] [nvarchar](max) NULL,
	[noticeDate] [date] NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK__tbl_Admi__3213E83FE0AEE28D] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_AdminProjectBudgetDetails]    Script Date: 1/28/2025 10:49:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_AdminProjectBudgetDetails](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[project_Id] [int] NULL,
	[heads] [varchar](300) NULL,
	[headsAmount] [float] NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK__tbl_Admi__3213E83FEF4A8A7A] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_AdminProjectStage]    Script Date: 1/28/2025 10:49:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_AdminProjectStage](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[project_Id] [int] NULL,
	[keyPoint] [varchar](300) NULL,
	[completeDate] [nvarchar](20) NULL,
	[stageDocument] [nvarchar](max) NULL,
	[completionStatus] [bit] NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK__tbl_Admi__3213E83FDFE5DEBA] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_adminProjectSubordinates]    Script Date: 1/28/2025 10:49:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_adminProjectSubordinates](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[projectId] [int] NULL,
	[subOrdinate] [int] NULL,
	[projectManager] [int] NULL,
	[createdAt] [datetime] NULL,
	[updateAt] [datetime] NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_AdminProjectWeeklyReport]    Script Date: 1/28/2025 10:49:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_AdminProjectWeeklyReport](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[project_Id] [int] NULL,
	[date] [nvarchar](20) NULL,
	[comment] [varchar](max) NULL,
	[completionPerc] [int] NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_AssignOutSourceTask]    Script Date: 1/28/2025 10:49:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_AssignOutSourceTask](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[outId] [int] NULL,
	[taskId] [int] NULL,
	[response] [nvarchar](max) NULL,
	[completeStatus] [bit] NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK__tbl_Assi__3213E83F6CE0A89B] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_KeypointResponse]    Script Date: 1/28/2025 10:49:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_KeypointResponse](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[keyId] [int] NULL,
	[response] [nvarchar](max) NULL,
	[conclusionId] [int] NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK__tbl_Keyp__3213E83FB1E52B4A] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_loginMaster]    Script Date: 1/28/2025 10:49:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_loginMaster](
	[log_id] [int] IDENTITY(1,1) NOT NULL,
	[userid] [int] NULL,
	[username] [nvarchar](100) NULL,
	[password] [nvarchar](100) NULL,
	[userRole] [nvarchar](100) NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK__tbl_logi__9E2397E0C2DD928A] PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_meetingConslusion]    Script Date: 1/28/2025 10:49:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_meetingConslusion](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[meeting] [int] NULL,
	[conclusion] [nvarchar](max) NULL,
	[nextFollow] [nvarchar](20) NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_MemberResponsForMeeting]    Script Date: 1/28/2025 10:49:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_MemberResponsForMeeting](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[meeting] [int] NULL,
	[member] [int] NULL,
	[conclusionId] [int] NULL,
	[appStatus] [int] NULL,
	[reason] [nvarchar](max) NULL,
	[Date] [date] NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK__tbl_Memb__3213E83FE2B6CDD6] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_OutSource]    Script Date: 1/28/2025 10:49:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_OutSource](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[EmpId] [int] NULL,
	[outCode] [varchar](100) NULL,
	[emp_name] [varchar](100) NULL,
	[emp_mobile] [bigint] NULL,
	[emp_email] [varchar](100) NULL,
	[emp_gender] [varchar](50) NULL,
	[password] [nvarchar](100) NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[emp_email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[emp_mobile] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_OutSourceTask]    Script Date: 1/28/2025 10:49:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_OutSourceTask](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[empId] [int] NULL,
	[title] [nvarchar](200) NULL,
	[description] [nvarchar](max) NULL,
	[completeStatus] [bit] NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_ProjectHeadExpenses]    Script Date: 1/28/2025 10:49:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_ProjectHeadExpenses](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[projectId] [int] NULL,
	[budgetHeadId] [int] NULL,
	[title] [nvarchar](100) NULL,
	[insertDate] [date] NULL,
	[amount] [float] NULL,
	[attatchment] [nvarchar](200) NULL,
	[description] [nvarchar](max) NULL,
	[createdAt] [datetime] NULL,
	[updatedAt] [datetime] NULL,
	[status] [bit] NULL,
	[AppStatus] [int] NULL,
	[AppAmount] [int] NULL,
	[Reason] [nvarchar](max) NULL,
 CONSTRAINT [PK__tbl_Proj__3213E83FFD727644] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_projectStagesStatus]    Script Date: 1/28/2025 10:49:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_projectStagesStatus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[stageId] [int] NULL,
	[Comment] [nvarchar](max) NULL,
	[CompletionPrecentage] [varchar](50) NULL,
	[StageDocument] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[Status] [bit] NULL,
	[updateStatus] [varchar](100) NULL,
 CONSTRAINT [PK__tbl_proj__3214EC077F7068EF] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_subOrdinateProjectProblem]    Script Date: 1/28/2025 10:49:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_subOrdinateProjectProblem](
	[problemId] [int] IDENTITY(1,1) NOT NULL,
	[project_Id] [int] NULL,
	[Title] [nvarchar](200) NULL,
	[Description] [nvarchar](max) NULL,
	[Attachment] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[problemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Project_Weekly_Update]  WITH CHECK ADD FOREIGN KEY([project_Id])
REFERENCES [dbo].[tbl_AdminAddProject] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[tbl_AdminAddProject]  WITH CHECK ADD  CONSTRAINT [FK__tbl_Admin__proje__5535A963] FOREIGN KEY([projectManager])
REFERENCES [dbo].[tbl_AdminEmployees] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_AdminAddProject] CHECK CONSTRAINT [FK__tbl_Admin__proje__5535A963]
GO
ALTER TABLE [dbo].[tbl_AdminCreateMeeting]  WITH CHECK ADD  CONSTRAINT [FK_tbl_AdminCreateMeeting_tbl_AdminEmployees] FOREIGN KEY([CreaterId])
REFERENCES [dbo].[tbl_AdminEmployees] ([id])
GO
ALTER TABLE [dbo].[tbl_AdminCreateMeeting] CHECK CONSTRAINT [FK_tbl_AdminCreateMeeting_tbl_AdminEmployees]
GO
ALTER TABLE [dbo].[tbl_AdminEmployees]  WITH CHECK ADD  CONSTRAINT [FK__tbl_Admin__desig__5165187F] FOREIGN KEY([designation])
REFERENCES [dbo].[tbl_adminDesignation] ([id])
GO
ALTER TABLE [dbo].[tbl_AdminEmployees] CHECK CONSTRAINT [FK__tbl_Admin__desig__5165187F]
GO
ALTER TABLE [dbo].[tbl_AdminEmployees]  WITH CHECK ADD  CONSTRAINT [FK__tbl_Admin__devis__5070F446] FOREIGN KEY([devision])
REFERENCES [dbo].[tbl_adminDevision] ([id])
GO
ALTER TABLE [dbo].[tbl_AdminEmployees] CHECK CONSTRAINT [FK__tbl_Admin__devis__5070F446]
GO
ALTER TABLE [dbo].[tbl_AdminExternalProject]  WITH CHECK ADD  CONSTRAINT [FK__tbl_Admin__proje__5BE2A6F2] FOREIGN KEY([project_Id])
REFERENCES [dbo].[tbl_AdminAddProject] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_AdminExternalProject] CHECK CONSTRAINT [FK__tbl_Admin__proje__5BE2A6F2]
GO
ALTER TABLE [dbo].[tbl_AdminMeetingKeyPoint]  WITH CHECK ADD  CONSTRAINT [FK__tbl_Admin__meeti__76969D2E] FOREIGN KEY([meeting])
REFERENCES [dbo].[tbl_AdminCreateMeeting] ([id])
GO
ALTER TABLE [dbo].[tbl_AdminMeetingKeyPoint] CHECK CONSTRAINT [FK__tbl_Admin__meeti__76969D2E]
GO
ALTER TABLE [dbo].[tbl_AdminMeetingMember]  WITH CHECK ADD  CONSTRAINT [FK__tbl_Admin__emplo__72C60C4A] FOREIGN KEY([employee])
REFERENCES [dbo].[tbl_AdminEmployees] ([id])
GO
ALTER TABLE [dbo].[tbl_AdminMeetingMember] CHECK CONSTRAINT [FK__tbl_Admin__emplo__72C60C4A]
GO
ALTER TABLE [dbo].[tbl_AdminMeetingMember]  WITH CHECK ADD  CONSTRAINT [FK__tbl_Admin__meeti__73BA3083] FOREIGN KEY([meeting])
REFERENCES [dbo].[tbl_AdminCreateMeeting] ([id])
GO
ALTER TABLE [dbo].[tbl_AdminMeetingMember] CHECK CONSTRAINT [FK__tbl_Admin__meeti__73BA3083]
GO
ALTER TABLE [dbo].[tbl_AdminMeetingMember]  WITH CHECK ADD  CONSTRAINT [FK_tbl_AdminMeetingMember_tbl_meetingConslusion1] FOREIGN KEY([conclusionId])
REFERENCES [dbo].[tbl_meetingConslusion] ([id])
GO
ALTER TABLE [dbo].[tbl_AdminMeetingMember] CHECK CONSTRAINT [FK_tbl_AdminMeetingMember_tbl_meetingConslusion1]
GO
ALTER TABLE [dbo].[tbl_AdminNotice]  WITH CHECK ADD  CONSTRAINT [FK__tbl_Admin__proje__797309D9] FOREIGN KEY([project_Id])
REFERENCES [dbo].[tbl_AdminAddProject] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_AdminNotice] CHECK CONSTRAINT [FK__tbl_Admin__proje__797309D9]
GO
ALTER TABLE [dbo].[tbl_AdminProjectBudgetDetails]  WITH CHECK ADD  CONSTRAINT [FK__tbl_Admin__proje__59063A47] FOREIGN KEY([project_Id])
REFERENCES [dbo].[tbl_AdminAddProject] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_AdminProjectBudgetDetails] CHECK CONSTRAINT [FK__tbl_Admin__proje__59063A47]
GO
ALTER TABLE [dbo].[tbl_AdminProjectStage]  WITH CHECK ADD  CONSTRAINT [FK__tbl_Admin__proje__5EBF139D] FOREIGN KEY([project_Id])
REFERENCES [dbo].[tbl_AdminAddProject] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_AdminProjectStage] CHECK CONSTRAINT [FK__tbl_Admin__proje__5EBF139D]
GO
ALTER TABLE [dbo].[tbl_adminProjectSubordinates]  WITH CHECK ADD  CONSTRAINT [FK__tbl_admin__proje__2EDAF651] FOREIGN KEY([projectId])
REFERENCES [dbo].[tbl_AdminAddProject] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_adminProjectSubordinates] CHECK CONSTRAINT [FK__tbl_admin__proje__2EDAF651]
GO
ALTER TABLE [dbo].[tbl_adminProjectSubordinates]  WITH CHECK ADD  CONSTRAINT [FK__tbl_admin__proje__30C33EC3] FOREIGN KEY([projectManager])
REFERENCES [dbo].[tbl_AdminEmployees] ([id])
GO
ALTER TABLE [dbo].[tbl_adminProjectSubordinates] CHECK CONSTRAINT [FK__tbl_admin__proje__30C33EC3]
GO
ALTER TABLE [dbo].[tbl_adminProjectSubordinates]  WITH CHECK ADD  CONSTRAINT [FK__tbl_admin__subOr__2FCF1A8A] FOREIGN KEY([subOrdinate])
REFERENCES [dbo].[tbl_AdminEmployees] ([id])
GO
ALTER TABLE [dbo].[tbl_adminProjectSubordinates] CHECK CONSTRAINT [FK__tbl_admin__subOr__2FCF1A8A]
GO
ALTER TABLE [dbo].[tbl_AdminProjectWeeklyReport]  WITH CHECK ADD  CONSTRAINT [FK__tbl_Admin__proje__08B54D69] FOREIGN KEY([project_Id])
REFERENCES [dbo].[tbl_AdminAddProject] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_AdminProjectWeeklyReport] CHECK CONSTRAINT [FK__tbl_Admin__proje__08B54D69]
GO
ALTER TABLE [dbo].[tbl_AssignOutSourceTask]  WITH CHECK ADD  CONSTRAINT [FK__tbl_Assig__outId__4A18FC72] FOREIGN KEY([outId])
REFERENCES [dbo].[tbl_OutSource] ([id])
GO
ALTER TABLE [dbo].[tbl_AssignOutSourceTask] CHECK CONSTRAINT [FK__tbl_Assig__outId__4A18FC72]
GO
ALTER TABLE [dbo].[tbl_AssignOutSourceTask]  WITH CHECK ADD  CONSTRAINT [FK__tbl_Assig__taskI__4B0D20AB] FOREIGN KEY([taskId])
REFERENCES [dbo].[tbl_OutSourceTask] ([id])
GO
ALTER TABLE [dbo].[tbl_AssignOutSourceTask] CHECK CONSTRAINT [FK__tbl_Assig__taskI__4B0D20AB]
GO
ALTER TABLE [dbo].[tbl_KeypointResponse]  WITH CHECK ADD  CONSTRAINT [FK__tbl_Keypo__keyId__1B9317B3] FOREIGN KEY([keyId])
REFERENCES [dbo].[tbl_AdminMeetingKeyPoint] ([id])
GO
ALTER TABLE [dbo].[tbl_KeypointResponse] CHECK CONSTRAINT [FK__tbl_Keypo__keyId__1B9317B3]
GO
ALTER TABLE [dbo].[tbl_KeypointResponse]  WITH CHECK ADD  CONSTRAINT [FK_tbl_KeypointResponse_tbl_meetingConslusion] FOREIGN KEY([conclusionId])
REFERENCES [dbo].[tbl_meetingConslusion] ([id])
GO
ALTER TABLE [dbo].[tbl_KeypointResponse] CHECK CONSTRAINT [FK_tbl_KeypointResponse_tbl_meetingConslusion]
GO
ALTER TABLE [dbo].[tbl_meetingConslusion]  WITH CHECK ADD  CONSTRAINT [FK__tbl_meeti__meeti__1E6F845E] FOREIGN KEY([meeting])
REFERENCES [dbo].[tbl_AdminCreateMeeting] ([id])
GO
ALTER TABLE [dbo].[tbl_meetingConslusion] CHECK CONSTRAINT [FK__tbl_meeti__meeti__1E6F845E]
GO
ALTER TABLE [dbo].[tbl_MemberResponsForMeeting]  WITH CHECK ADD  CONSTRAINT [FK__tbl_Membe__meeti__0E04126B] FOREIGN KEY([meeting])
REFERENCES [dbo].[tbl_AdminCreateMeeting] ([id])
GO
ALTER TABLE [dbo].[tbl_MemberResponsForMeeting] CHECK CONSTRAINT [FK__tbl_Membe__meeti__0E04126B]
GO
ALTER TABLE [dbo].[tbl_MemberResponsForMeeting]  WITH CHECK ADD  CONSTRAINT [FK__tbl_Membe__membe__0EF836A4] FOREIGN KEY([member])
REFERENCES [dbo].[tbl_AdminEmployees] ([id])
GO
ALTER TABLE [dbo].[tbl_MemberResponsForMeeting] CHECK CONSTRAINT [FK__tbl_Membe__membe__0EF836A4]
GO
ALTER TABLE [dbo].[tbl_MemberResponsForMeeting]  WITH CHECK ADD  CONSTRAINT [FK_tbl_MemberResponsForMeeting_tbl_meetingConslusion] FOREIGN KEY([conclusionId])
REFERENCES [dbo].[tbl_meetingConslusion] ([id])
GO
ALTER TABLE [dbo].[tbl_MemberResponsForMeeting] CHECK CONSTRAINT [FK_tbl_MemberResponsForMeeting_tbl_meetingConslusion]
GO
ALTER TABLE [dbo].[tbl_OutSource]  WITH CHECK ADD FOREIGN KEY([EmpId])
REFERENCES [dbo].[tbl_AdminEmployees] ([id])
GO
ALTER TABLE [dbo].[tbl_OutSourceTask]  WITH CHECK ADD FOREIGN KEY([empId])
REFERENCES [dbo].[tbl_AdminEmployees] ([id])
GO
ALTER TABLE [dbo].[tbl_ProjectHeadExpenses]  WITH CHECK ADD  CONSTRAINT [FK__tbl_Proje__budge__6BAEFA67] FOREIGN KEY([budgetHeadId])
REFERENCES [dbo].[tbl_AdminProjectBudgetDetails] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[tbl_ProjectHeadExpenses] CHECK CONSTRAINT [FK__tbl_Proje__budge__6BAEFA67]
GO
ALTER TABLE [dbo].[tbl_projectStagesStatus]  WITH CHECK ADD  CONSTRAINT [FK__tbl_proje__stage__6F7F8B4B] FOREIGN KEY([stageId])
REFERENCES [dbo].[tbl_AdminProjectStage] ([id])
GO
ALTER TABLE [dbo].[tbl_projectStagesStatus] CHECK CONSTRAINT [FK__tbl_proje__stage__6F7F8B4B]
GO
ALTER TABLE [dbo].[tbl_subOrdinateProjectProblem]  WITH CHECK ADD FOREIGN KEY([project_Id])
REFERENCES [dbo].[tbl_AdminAddProject] ([id])
GO
ALTER TABLE [dbo].[tbl_AdminProjectWeeklyReport]  WITH CHECK ADD CHECK  (([completionPerc]<=(100) AND [completionPerc]>=(0)))
GO
/****** Object:  StoredProcedure [dbo].[sp_adminAddproject]    Script Date: 1/28/2025 10:49:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_adminAddproject]
@id int =null,
@title varchar(400)=null,
@assignDate nvarchar(20)=null,
@startDate nvarchar(20)=null,
@completionDate nvarchar(20)=null,
@projectmanager int= 0,
@subOrdinate int=0,
@budget float=0.00,
@description nvarchar(max)=null,
@ProjectDocument nvarchar(max)=null,
@projectType varchar(30)=null,
@stage bit=0,
@createdBy varchar(50)=null,
@status bit = 0,
@project_Id int=0 output,
@DepartmentName varchar(100)=null,
@contactPerson nvarchar(100)=null,
@address varchar(300)=null,
@heads varchar(300)=null,
@headsAmount float=null,
@miscellaneous varchar(300)=null,
@miscAmount float=null,
@keyPoint varchar(300)=null,
@completeDate nvarchar(20)=null,
@stageDocument nvarchar(max)=null,
@username varchar(100)=null,
@ApproveStatus bit=0,
@action varchar(100)=null
as
begin
if(@action='insertProject')
begin
insert into tbl_AdminAddproject (title,assignDate,startDate,completionDate,projectmanager,budget,description,ProjectDocument,projectType,stage, createdAt, updatedAt,createdBy,CompleteStatus,ApproveStatus, status) values(@title,@assignDate,@startDate,@completionDate,@projectmanager,@budget,@description,@ProjectDocument,@projectType,@stage, getDate(), getDate(),@createdBy,0,@ApproveStatus,1)
SET @project_Id = CONVERT(INT, SCOPE_IDENTITY());

end
else if(@action='updateProject')
begin
update tbl_AdminAddproject set title=@title,assignDate=@assignDate,startDate=@startDate,completionDate=@completionDate,projectmanager=@projectmanager,budget=@budget,description=@description,ProjectDocument=@ProjectDocument,projectType=@projectType,stage=@stage,createdBy=@createdBy,status=@status, updatedAt = getdate() where id=@id
End
else if(@action='GetProjectById')
begin
SELECT 
    pr.*,
    emp.name AS ManagerName,

    subEm.id AS SubordinateLinkId, 
    subEm.name AS subName, 
    subEm.employeeCode AS subCode,

	ep.id as ExternalPrj,
	ep.DepartmentName,
	ep.contactPerson,
	ep.address
FROM tbl_AdminAddproject pr
LEFT JOIN tbl_AdminEmployees emp ON emp.id = pr.projectManager
LEFT JOIN tbl_adminProjectSubordinates sub ON sub.projectId = pr.id
LEFT JOIN tbl_AdminEmployees subEm ON subEm.id = sub.subOrdinate
LEFT JOIN tbl_AdminExternalProject ep ON ep.project_Id = pr.id
WHERE pr.id = @id AND pr.status = 1;

end
else if(@action='GetAllProject')
begin
SELECT 
    pr.*, 
    emp.name,
	 ISNull(ROUND(
                (SELECT SUM(exp.amount) 
                 FROM tbl_projectHeadExpenses exp 
                 WHERE exp.projectid = pr.id and exp.status=1) / pr.budget * 100, 2),0.0)
     AS financialStatusPercentage,
    completionPercentage = COALESCE(
        (
            SELECT (CAST(SUM(CASE WHEN completionStatus = 1 THEN 1 ELSE 0 END) AS FLOAT) * 100.0) 
                   / NULLIF(COUNT(*), 0) 
            FROM tbl_AdminProjectStage 
            WHERE project_Id = pr.id AND status = 1
        ), 
        0
    ),
	 ROUND(
        (
            ISNULL(
                ROUND(
                    (SELECT SUM(exp.amount) 
                     FROM tbl_projectHeadExpenses exp 
                     WHERE exp.projectid = pr.id AND exp.status = 1) / pr.budget * 100, 
                2), 
            0.0) 
            + COALESCE(
                (
                    SELECT 
                        ROUND(
                            (CAST(SUM(CASE WHEN completionStatus = 1 THEN 1 ELSE 0 END) AS FLOAT) * 100.0) 
                            / NULLIF(COUNT(*), 0), 
                        2) 
                    FROM tbl_AdminProjectStage 
                    WHERE project_Id = pr.id AND status = 1
                ), 
            0)
        ) / 2, 
    2) AS overallPercentage
FROM 
    tbl_AdminAddproject pr
LEFT JOIN 
    tbl_AdminEmployees emp 
    ON emp.id = pr.projectManager
	Order By createdAt desc;

End
else if(@action='GetAllProjectByManager')
begin
select pr.*, emp.name,emp.name, ISNull(ROUND(
                (SELECT SUM(exp.amount) 
                 FROM tbl_projectHeadExpenses exp 
                 WHERE exp.projectid = pr.id and exp.status=1) / pr.budget * 100, 2),0.0)
     AS financialStatusPercentage,
    completionPercentage = COALESCE(
        (
            SELECT (CAST(SUM(CASE WHEN completionStatus = 1 THEN 1 ELSE 0 END) AS FLOAT) * 100.0) 
                   / NULLIF(COUNT(*), 0) 
            FROM tbl_AdminProjectStage 
            WHERE project_Id = pr.id AND status = 1
        ), 
        0
    ),
	 ROUND(
        (
            ISNULL(
                ROUND(
                    (SELECT SUM(exp.amount) 
                     FROM tbl_projectHeadExpenses exp 
                     WHERE exp.projectid = pr.id AND exp.status = 1) / pr.budget * 100, 
                2), 
            0.0) 
            + COALESCE(
                (
                    SELECT 
                        ROUND(
                            (CAST(SUM(CASE WHEN completionStatus = 1 THEN 1 ELSE 0 END) AS FLOAT) * 100.0) 
                            / NULLIF(COUNT(*), 0), 
                        2) 
                    FROM tbl_AdminProjectStage 
                    WHERE project_Id = pr.id AND status = 1
                ), 
            0)
        ) / 2, 
    2) AS overallPercentage from tbl_AdminAddproject pr
left join tbl_AdminEmployees emp on emp.id = pr.projectManager
where pr.status=1 and pr.projectManager=@projectManager and pr.createdBy = 'admin'
End

else if @action = 'getProjectManagerTotalProject'
begin
select pr.*, emp.name,emp.name, 	
ISNull(ROUND(
                (SELECT SUM(exp.amount) 
                 FROM tbl_projectHeadExpenses exp 
                 WHERE exp.projectid = pr.id and exp.status=1) / pr.budget * 100, 2),0.0)
     AS financialStatusPercentage,
    completionPercentage = COALESCE(
        (
            SELECT (CAST(SUM(CASE WHEN completionStatus = 1 THEN 1 ELSE 0 END) AS FLOAT) * 100.0) 
                   / NULLIF(COUNT(*), 0) 
            FROM tbl_AdminProjectStage 
            WHERE project_Id = pr.id AND status = 1
        ), 
        0
    ),
	 ROUND(
        (
            ISNULL(
                ROUND(
                    (SELECT SUM(exp.amount) 
                     FROM tbl_projectHeadExpenses exp 
                     WHERE exp.projectid = pr.id AND exp.status = 1) / pr.budget * 100, 
                2), 
            0.0) 
            + COALESCE(
                (
                    SELECT 
                        ROUND(
                            (CAST(SUM(CASE WHEN completionStatus = 1 THEN 1 ELSE 0 END) AS FLOAT) * 100.0) 
                            / NULLIF(COUNT(*), 0), 
                        2) 
                    FROM tbl_AdminProjectStage 
                    WHERE project_Id = pr.id AND status = 1
                ), 
            0)
        ) / 2, 
    2) AS overallPercentage from tbl_AdminAddproject pr
left join tbl_AdminEmployees emp on emp.id = pr.projectManager
where pr.status=1 and pr.projectManager=@projectManager
end
else if(@action='GetProjectBySubOrdinate')
begin
select pr.*, emp.name,ps.subordinate from tbl_AdminAddproject pr
left join tbl_AdminEmployees emp on emp.id = pr.projectManager
inner join tbl_adminProjectSubordinates ps on pr.id=ps.projectId
where ps.status=1 and ps.subordinate=@subOrdinate
End
else if(@action='getManagerProject')
begin
select pr.*, emp.name from tbl_AdminAddproject pr
left join tbl_AdminEmployees emp on emp.id = pr.projectManager
where pr.status=1 and pr.projectManager=@projectManager and pr.createdBy = 'projectManager'
end


else if(@action='deleteProject')
begin
update tbl_AdminAddproject set status=0 where id=@id
end
else if(@action='insertExternalProject')
begin
insert into tbl_AdminExternalProject (project_Id,DepartmentName,contactPerson,address,status) values(@project_Id,@DepartmentName,@contactPerson,@address,1)
End
else if(@action='updateExternalProject')
begin
update tbl_AdminExternalProject set project_Id=@project_Id ,DepartmentName=@DepartmentName,contactPerson=@contactPerson,@address=@address, status=@status where id=@id and status=1
End
else if(@action='GetExtProjectById')
begin
select * from tbl_AdminExternalProject where id=@id and status=@status
End
else if(@action='GetAllExtProject')
begin
select * from tbl_AdminExternalProject where status=@status
End
else if(@action='deleteExtProject')
begin
update tbl_AdminExternalProject set status=0 where id=@id
end
else if(@action='insertProjectBudget')
begin
insert into tbl_AdminProjectBudgetDetails (project_Id,heads,headsAmount,status) values (@project_Id,@heads,@headsAmount,1)
End
else if(@action='updateProjectBudget')
begin
update tbl_AdminProjectBudgetDetails set project_Id=@project_Id,heads=@heads,headsAmount=@headsAmount where id=@id and status=1
end
else if(@action='GetBudgetById')
begin
select * from tbl_AdminProjectBudgetDetails where id=@id and status=1
End
else if @action = 'GetBudgetByProjectId'
begin
select bd.*,ISNull((select sum(exp.amount) from tbl_ProjectHeadExpenses exp where exp.projectId=@id and exp.budgetHeadId=bd.id),0) as totalAskAmount,
IsNull((select sum(exp.AppAmount) from tbl_ProjectHeadExpenses exp where exp.projectId=@id and exp.budgetHeadId=bd.id),0) as approveAmount from tbl_AdminProjectBudgetDetails bd where project_Id=@id and status=1
end
else if(@action='GetAllprojectBudget')
begin
select * from tbl_AdminProjectBudgetDetails where status=1
End
else if(@action='deleteBudget')
begin
update tbl_AdminProjectBudgetDetails set status=0 where id=@id
End
else if(@action='insertProjectStatge')
begin
insert into tbl_AdminProjectStage (project_Id,keyPoint,completeDate,stageDocument,completionStatus,status) values(@project_Id,@keyPoint,@completeDate,@stageDocument,0,1)
End
else if(@action='updateProjectStage')
begin
update tbl_AdminProjectStage set project_Id=@project_Id,keyPoint=@keyPoint,completeDate=@completeDate,stageDocument=@stageDocument,status=@status where id=@id
End
else if(@action='GetProjectStageById')
begin
select * from tbl_AdminProjectStage where id=@id and status=1
End
else if(@action='GetProjectStageByProjectId')
begin
select stg.*,
StagesStatus = (select top 1 updateStatus from tbl_projectStagesStatus where stageId = stg.id order by CreatedDate desc)
from tbl_AdminProjectStage stg where stg.project_id=@id and stg.status=1
End

else if(@action='GetAllProjectStage')
begin
select * from tbl_AdminProjectStage where status=1
End
else if(@action='deleteProjectStage')
begin
update tbl_AdminProjectStage set status=0 where id=@id
End
else if @action = 'insertSubOrdinate'
begin
	insert into tbl_adminProjectSubordinates(projectId, subOrdinate, projectManager, createdAt, updateAt, status) values(@project_Id, @id, @projectmanager, GETDATE(), GETDATE(), 1)
end
if(@action='getManagerDetails')
begin
select * from tbl_loginMaster where username=@username and status=1
end
else if(@action='getAllManagerProject')
begin
select distinct pr.*, emp.name from tbl_AdminAddproject pr
join tbl_ProjectHeadExpenses he on he.projectId=pr.id
left join tbl_AdminEmployees emp  on emp.id = pr.projectManager
where pr.status=1 
end
if(@action='getHeadByProject')
begin
select ph.id,ph.heads from tbl_AdminProjectBudgetDetails ph
inner join tbl_adminAddProject ap on ph.project_Id=ap.id where ph.project_Id=@id and ph.status = 1
End
if(@action='getNotStartedProjectByManager')
begin
select pr.*, emp.name from tbl_AdminAddproject pr
left join tbl_AdminEmployees emp on emp.id = pr.projectManager
where pr.status=1 and pr.startDate > GETDATE()  and pr.CompleteStatus = 0 and emp.id=@projectmanager 
end
if(@action='getCompleteprojectByManager')
begin
select pr.*, emp.name from tbl_AdminAddproject pr
left join tbl_AdminEmployees emp on emp.id = pr.projectManager
where pr.status=1 and pr.completeStatus=1 and emp.id=@projectmanager 
End
End	
GO
/****** Object:  StoredProcedure [dbo].[sp_AdminEmployees]    Script Date: 1/28/2025 10:49:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[sp_AdminEmployees]
@id int=0,
@employeeCode varchar(50)=null,
@name varchar(100)=null,
@mobile bigint=0,
@email nvarchar(100)=null,
@gender varchar(10)=null,
@role varchar(50)=null,
@username nvarchar(100)=null,
@password nvarchar(100)=null,
@devision int=0,
@designation int=0,
@profile nvarchar(max)=null,
@action varchar(50)=null
as
begin
if @action='InsertEmployees'
begin
insert into tbl_adminemployees (employeeCode,name,mobile,email,gender,role,devision,designation,profile,creationDate,status,activeStatus)
values(@employeeCode,@name,@mobile,@email,@gender,@role,@devision,@designation,@profile,GetDate(),1,1)
if(@@rowcount>0)
begin
insert into tbl_loginMaster(userid,username,password,userrole,status)
values(Scope_identity(),@username,@password,@role,1);
end
end
else if @action='SelectEmployees'
begin
select tbl_AdminEmployees.*,tbl_adminDevision.devisionName,tbl_adminDesignation.designationName from tbl_AdminEmployees join tbl_adminDevision on tbl_adminEmployees.devision=tbl_adminDevision.id join tbl_adminDesignation on tbl_AdminEmployees.designation=tbl_adminDesignation.id where tbl_AdminEmployees.status=1
end
else if @action='SelectEmployeesById'
begin
select * from tbl_AdminEmployees join tbl_adminDevision on tbl_adminEmployees.devision=tbl_adminDevision.id join tbl_adminDesignation on tbl_AdminEmployees.designation=tbl_adminDesignation.id where tbl_AdminEmployees.status=1 and tbl_AdminEmployees.id=@id
end
else if @action='UpdateEmployees'
begin
Declare @profileImage nvarchar(max)
set @profileImage=(select profile from tbl_adminemployees where status=1 and id=@id)
UPDATE tbl_adminemployees
    SET
        name = @name,
        employeeCode = @employeeCode,
        mobile = @mobile,
        email = @email,
        gender = @gender,
        role = @role,
        devision = @devision,
        designation = @designation,
        profile = CASE WHEN @profile IS NOT NULL THEN @profile ELSE @profileImage END
    WHERE id = @id AND status = 1;
end
else if @action='DeleteEmployees'
begin
update tbl_adminemployees set status=0 where id=@id
end
else if @action='ChangeActiveStatus'
begin
update tbl_AdminEmployees set activeStatus=(case when activeStatus=0 then 1 else 0 end) where id=@id
end
end

GO
/****** Object:  StoredProcedure [dbo].[sp_ManageDashboard]    Script Date: 1/28/2025 10:49:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_ManageDashboard]
@action varchar(30)=null,
@projectManager varchar(100)=null
as
begin
if(@action='AdminDashboardCount')
begin

select  TotalEmployee=(select Count(*) from tbl_AdminEmployees where status=1),
 TotalProject=(select Count(*) from tbl_AdminAddProject where status=1),
 TotalDelayproject=(select Count(*) from tbl_AdminAddProject where completionDate < GetDate() and status=1 and CompleteStatus=0),
 TotalCompleteProject=(select Count(*) from tbl_AdminAddProject where CompleteStatus=1 and status=1),
 TotalOngoingProject=(select Count(*) from tbl_AdminAddProject where completionDate > GetDate() and CompleteStatus=0 and status=1),
 TotalMeetings =(select Count(*) from tbL_AdminCreateMeeting where status=1 and createdBy='Admin')

End
if(@action='ManagerDashboardCount')
begin
select TotalAssignProject=(select Count(*) from tbl_AdminAddProject where projectManager=@projectManager and createdBy = 'admin'),
       TotaCompleteProject=(select Count(*) from tbl_AdminAddProject where  CompleteStatus=1 and  completionDate < GETDATE() and projectManager=@projectManager),
	   TotalDelayProject=(select Count(*) from tbl_AdminAddProject where  CompleteStatus =0 and startDate >= GETDATE() and projectManager=@projectManager),
	    TotalNotice=(SELECT COUNT(*) AS total_count
            FROM (
                SELECT an.*, aap.title, ae.name, ae.profile, ae.id AS 'empId'
                FROM tbl_adminnotice an
                JOIN tbl_adminaddproject aap ON an.project_Id = aap.id
                JOIN tbl_adminemployees ae ON ae.id = aap.projectManager
                WHERE aap.projectManager = @projectManager AND an.status = 1
            ) AS subquery
            ),
			TotalOngoingProject=(select Count(*) from tbl_AdminAddProject where  CompleteStatus=0 and  startDate <= GETDATE() and projectManager=@projectManager),
			totalMeetings = (select count(*) from tbl_AdminMeetingMember where employee = @projectManager and status = 1)
End
if(@action='getOverallProjectCompletion')
begin
SELECT 
top 10
    pr.title, 
		pr.ProjectManager,
    ISNULL(
        ROUND(
            (SELECT SUM(exp.amount) 
             FROM tbl_projectHeadExpenses exp 
             WHERE exp.projectid = pr.id AND exp.status = 1) / pr.budget * 100, 
        2), 
    0.0) AS financialStatusPercentage,
    COALESCE(
        (
            SELECT 
                ROUND(
                    (CAST(SUM(CASE WHEN completionStatus = 1 THEN 1 ELSE 0 END) AS FLOAT) * 100.0) 
                    / NULLIF(COUNT(*), 0), 
                2) 
            FROM tbl_AdminProjectStage 
            WHERE project_Id = pr.id AND status = 1
        ), 
    0) AS completionPercentage,
    ROUND(
        (
            ISNULL(
                ROUND(
                    (SELECT SUM(exp.amount) 
                     FROM tbl_projectHeadExpenses exp 
                     WHERE exp.projectid = pr.id AND exp.status = 1) / pr.budget * 100, 
                2), 
            0.0) 
            + COALESCE(
                (
                    SELECT 
                        ROUND(
                            (CAST(SUM(CASE WHEN completionStatus = 1 THEN 1 ELSE 0 END) AS FLOAT) * 100.0) 
                            / NULLIF(COUNT(*), 0), 
                        2) 
                    FROM tbl_AdminProjectStage 
                    WHERE project_Id = pr.id AND status = 1
                ), 
            0)
        ) / 2, 
    2) AS overallCompletion
FROM 
    tbl_AdminAddproject pr
LEFT JOIN 
    tbl_AdminEmployees emp 
    ON emp.id = pr.projectManager
		where pr.CompleteStatus=0 and startDate > GETDATE()
ORDER BY 
    pr.createdAt DESC;


End
End
GO
/****** Object:  StoredProcedure [dbo].[sp_ManageEmployeeCategory]    Script Date: 1/28/2025 10:49:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_ManageEmployeeCategory]
@id int =null,
@designationName varchar(100)=null,
@status bit=null,
@devisionName varchar(100)=null,
@action varchar(30)=null
as
begin
if(@action='InsertDesignation')
begin
insert into tbl_adminDesignation (designationName,status)  values (@designationName,1)
End
if(@action='UpdateDesignation')
begin
update tbl_adminDesignation set designationName=@designationName, status=@status where id=@id
end
if(@action='GetDesignationById')
begin
select * from tbl_adminDesignation where id=@id
end
if(@action='GetAllDesignation')
begin
select * from tbl_adminDesignation where status = 1
end
if(@action='deleteDesignation')
begin
update tbl_adminDesignation set status=0 where id=@id
end
if(@action='InsertDevision')
begin
insert into tbl_adminDevision (devisionName,status) values(@devisionName,1)
End
if(@action='UpdateDevision')
begin
update tbl_adminDevision set devisionName=@devisionName ,status=@status where id=@id
End
if(@action='GetDevisionById')
begin
select * from tbl_adminDevision where id=@id
end
if(@action='GetAllDevision')
begin
select * from tbl_adminDevision where status = 1
End
if(@action='deleteDevision')
begin
update tbl_adminDevision set status=0 where id=@id
End
End
GO
/****** Object:  StoredProcedure [dbo].[sp_manageLoginMaster]    Script Date: 1/28/2025 10:49:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_manageLoginMaster]
@action varchar(50)=null,
@log_id int = 0,
@userid int = 0,
@username nvarchar(100) = null,
@password nvarchar(100) = null,
@userRole nvarchar(100) = null,
@status bit = 0
as
begin
if @action = 'loginUser'
begin
select lg.*, emp.name, emp.profile from tbl_loginMaster lg
left join tbl_AdminEmployees emp  on emp.id = lg.userid
where lg.username = @username and lg.password = @password and lg.status = 1
end

else if @action = 'getUserRole'
begin
select userRole from tbl_loginMaster where username = @username and status = 1;
end

end
GO
/****** Object:  StoredProcedure [dbo].[sp_ManageMeeting]    Script Date: 1/28/2025 10:49:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_ManageMeeting]
@id int=0,
@meetingType varchar(20)=null,
@meetingLink nvarchar(max)=null,
@meetingTitle varchar(300)=null,
@meetingTime nvarchar(20)=null,
@meetingDocument nvarchar(max)=null,
@createdBy varchar(50)=null,
@updatedDate varchar(50)=null,
@createrId int=null,
@conclusionId int=null,
@employee int=0,
@meeting int=0,
@appStatus int=0,
@keyPoint varchar(500)=null,
@reason varchar(max)=null,
@meetingId int=0 output,
@status int=0,
@action varchar(30)=null
as
 begin
 if(@action='insertMeeting')
 begin
 insert into tbl_AdminCreateMeeting (meetingType,meetingLink,meetingTitle,meetingTime,meetingDocument,createdBy,createdDate,updatedDate,status,completeStatus,followUpStatus,createrId) values(@meetingType,@meetingLink,@meetingTitle,@meetingTime,@meetingDocument,@createdBy,GETDATE(),GETDATE(),1,0,0,@createrId)
 set @meetingId=scope_identity();
 End 
else if(@action='addMeetingMember')
 begin
 insert into tbl_AdminMeetingMember (employee,meeting,status,conclusionId,presentStatus) values (@employee,@meeting,1,null,0)
 if @@rowcount>0
 begin
 insert into tbl_MemberResponsForMeeting values(@meeting,@employee,@conclusionId,0,null,null,1)
 end
 end
else if(@action='addMeetingKeyPoint')
 begin
 insert into tbl_AdminMeetingKeyPoint (meeting,keyPoint,status) values (@meeting,@keyPoint,1)
 end
else if(@action='BindMeetingMember')
 begin
select id,name,role from tbl_AdminEmployees where status=1
end
else if(@action='getAllmeeting')
begin
SELECT 
    cm.id,
    cm.completeStatus,
    cm.meetingType,
    cm.meetingLink,
    cm.meetingTitle,
    cm.createrId,
	cm.meetSummary,
    cm.meetingTime,
    STUFF(
        (SELECT distinct ',' + Cast(mm.employee as nvarchar)
         FROM tbl_AdminMeetingMember mm
         WHERE mm.meeting = cm.id
         FOR XML PATH('')), 1, 1, '') AS memberId
FROM 
    tbl_AdminCreateMeeting cm
LEFT JOIN 
    tbl_AdminMeetingMember mm ON cm.id = mm.meeting
WHERE 
    cm.status = 1
GROUP BY 
    cm.id, 
    cm.completeStatus, 
    cm.meetingType, 
    cm.meetingLink, 
    cm.meetingTitle, 
	cm.meetSummary,
    cm.createrId, 
    cm.meetingTime
ORDER BY 
    cm.completeStatus ASC, 
    cm.id DESC;

End
else if(@action='getMeetingById')
begin
SELECT tm.id,
       tm.meetingType,
       tm.meetingLink,
	   tm.meetingtitle,
	   tm.meetingTime,
       STUFF((SELECT DISTINCT ',' + CAST(am.employee AS VARCHAR) 
              FROM tbl_AdminMeetingMember am
              WHERE am.meeting = tm.id and status=1
              FOR XML PATH('')), 1, 1, '') AS empId,
       STUFF((SELECT DISTINCT ',' + Cast(ap.id as varchar)+':'+CAST(ap.keyPoint AS VARCHAR)
              FROM tbl_AdminMeetingKeyPoint ap
              WHERE ap.meeting = tm.id and status=1
              FOR XML PATH('')), 1, 1, '') AS meetingKey
FROM tbl_AdminCreateMeeting tm
WHERE tm.id = @id;
End
else if(@action='getMeetingPoint')
begin
select id,keyPoint from tbl_AdminMeetingKeyPoint where meeting=@meetingId
End
else if(@action='updateMeeting')
begin

update tbl_AdminCreateMeeting set  meetingType=@meetingType,meetingLink=@meetingLink,meetingTitle=@meetingTitle,meetingTime=@meetingTime,meetingDocument=case when meetingDocument is not null Then @meetingDocument else meetingDocument End,updatedDate=GETDATE() where id=@id

End
else if @action='updateKeyPoint'
begin
if exists(select * from tbl_adminMeetingKeypoint where id=@id)
begin
update tbl_adminMeetingKeypoint set keyPoint=@keyPoint,status=1 where id=@id 
end
else
begin
 insert into tbl_AdminMeetingKeyPoint (meeting,keyPoint,status) values (@meeting,@keyPoint,1)
 end
end
if @action='updateMember' 
begin
 if not exists(select * from tbl_adminMeetingMember where meeting=@meeting and employee=@employee and conclusionId is null)
begin
insert into tbl_AdminMeetingMember (employee,meeting,status) values (@employee,@meeting,1)
if @@rowcount>0
 begin
 insert into tbl_MemberResponsForMeeting values(@meeting,@employee,@conclusionId,0,null,null,1)
 end
 end
 else 
 begin
 update tbl_adminMeetingMember set status=1 where meeting=@meeting and employee=@employee and conclusionId is null
 end
end
else if @action='getMeetingMemberById'
begin
select distinct ae.*,mm.meeting as 'meetingId' from tbl_adminemployees ae join tbl_AdminMeetingMember mm on ae.id=mm.employee where mm.meeting=@id and mm.conclusionId is null and mm.status=1
end
else if @action='getResponseFromMemberForMeeting'
begin
UPDATE tbl_MemberResponsForMeeting
SET 
    appStatus = @appStatus,
    reason = @reason,
    Date = GETDATE()
WHERE 
    meeting = @meeting
    AND member = @employee
    AND conclusionId IS NULL;
end
else if @action='selectMeetingForProjectManager'
begin
SELECT distinct
    cm.id,
    cm.completeStatus,
    cm.meetingType,
    cm.meetingLink,
    cm.meetingTitle,
    cm.createrId,
    cm.meetingTime,
	rfc.appStatus,
	rfc.conclusionId,
    STUFF(
        (SELECT distinct ',' + Cast(mm.employee as nvarchar)
         FROM tbl_AdminMeetingMember mm
         WHERE mm.meeting = cm.id
         FOR XML PATH('')), 1, 1, '') AS memberId
FROM 
    tbl_AdminCreateMeeting cm
	left join tbl_memberResponsForMeeting rfc on cm.id=rfc.meeting 
	where rfc.member=@id
ORDER BY 
    cm.completeStatus ASC, 
    cm.id DESC;
end
End
GO
/****** Object:  StoredProcedure [dbo].[sp_manageMemberResponseForMeeting]    Script Date: 1/28/2025 10:49:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_manageMemberResponseForMeeting]
@id int=0,
@conclusionId int=null,
@employee int=0,
@meeting int=0,
@appStatus int=0,
@reason nvarchar(max)=null,
@status int=0,
@action varchar(100)=null
as 
begin
if @action='getResponseFromMemberForMeeting'
begin
UPDATE tbl_MemberResponsForMeeting
SET 
    appStatus = @appStatus,
    reason = @reason,
    Date = GETDATE()
WHERE 
    meeting = @meeting
    AND member = @employee
    AND conclusionId IS NULL;
end
else if @action='selectMemberJoiningStatus'
begin
select * from tbl_MemberResponsForMeeting rm join tbl_adminEmployees ae on rm.member=ae.id where rm.conclusionId is null and rm.meeting=@meeting
end
end
GO
/****** Object:  StoredProcedure [dbo].[sp_manageNotice]    Script Date: 1/28/2025 10:49:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_manageNotice]
@id int=0,
@projectId int=0,
@noticeDocs nvarchar(max)=null,
@noticedesc nvarchar(max)=null,
@projectManager varchar(100)=null,
@action varchar(50)=null
as
begin 
if @action='InsertNotice'
begin
insert into tbl_adminnotice values(@projectId,@noticeDocs,@noticedesc,GetDate(),1)
end
else if @action='UpdateNotice'
begin
Declare @document nvarchar(max)
set @document=(select noticeDocument from tbl_adminnotice where id=@id)
update tbl_adminnotice set project_Id=@projectId,noticeDocument=(case when @noticeDocs is null then @document else @noticeDocs end),noticedescription=@noticedesc where id=@id
end
else if @action='SelectNotice'
begin
select an.*,aap.title,ae.name,ae.profile,ae.id as 'empId' from tbl_adminnotice an join tbl_adminaddproject aap on an.project_Id=aap.id
join tbl_adminemployees ae on ae.id=aap.projectManager where an.status=1 order by an.id desc
end
if(@action='getNoticeByManager')
begin
select an.*,aap.title,ae.name,ae.profile,ae.id as 'empId' from tbl_adminnotice an join tbl_adminaddproject aap on an.project_Id=aap.id
join tbl_adminemployees ae on ae.id=aap.projectManager where aap.projectManager=@projectManager and  an.status=1 order by an.id desc
End
end
GO
/****** Object:  StoredProcedure [dbo].[sp_manageOutSource]    Script Date: 1/28/2025 10:49:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_manageOutSource]
@action varchar(100),
@id int = 0,
@EmpId int = 0,
@outCode varchar(100) = null,
@emp_name varchar(100) = null,
@emp_mobile bigint = null,
@emp_email varchar(100) = null,
@emp_gender varchar(50) = null,
@password nvarchar(100) = null,
@status bit = 0
as
begin
if @action = 'createOutSource'
begin
 begin tran
begin try
insert into tbl_OutSource(EmpId, outCode, emp_name, emp_mobile, emp_email, emp_gender, password, status) 
values(@EmpId, @outCode, @emp_name, @emp_mobile, @emp_email, @emp_gender, @password, 1);

set @id = Scope_Identity();

insert into tbl_loginMaster(userid, username, password, userRole, status) 
values(@id, @outCode, @password, 'outSource', 1);

commit
end try
begin catch
rollback
end catch
end
else if @action = 'selectAll'
begin
select * from tbl_OutSource where empId = @empId and status = 1
end
end
GO
/****** Object:  StoredProcedure [dbo].[sp_manageOutSourceTask]    Script Date: 1/28/2025 10:49:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_manageOutSourceTask]
@action varchar(50),
@id int = 0,
@empId int = 0,
@title nvarchar(200) = null,
@description nvarchar(max) = null,
@response nvarchar(max)=null,
@completeStatus bit = 0,
@taskId int = 0 output,
@status bit = 1
as
begin
if @action = 'createTask'
begin
insert into tbl_OutSourceTask(empId, title, description, completeStatus, status) values(@empId, @title, @description, 0, 1);
set @taskId = scope_Identity();
end
else if @action = 'assignTask'
begin
insert into tbl_AssignOutSourceTask(outId, taskId,completeStatus, status) values(@empId, @id,0 ,1)
end

else if @action = 'selectAllTask'
begin
select * from tbl_OutSourceTask where empId = @empId and status = 1
end

else if @action = 'ViewTaskEmpStatus'
begin
select * from tbl_AssignOutSourceTask asTask left join tbl_OutSource outS on outS.id = asTask.outId where asTask.taskId = @id
end
else if(@action='getTaskByOutSource')
begin
select ost.*,aos.outId from tbl_assignOutsourceTask aos
inner join tbl_OutSourcetask ost on aos.taskId=ost.id
inner join tbl_OutSource os on aos.outId=os.id where aos.outId=@id
End
else if(@action='insertOutsource')
begin
update tbl_assignOutsourceTask set response=@response,completeStatus=1  where outId=@empId and taskId = @id
end

else if @action = 'updateTaskStatus'
begin
update tbl_OutSourceTask set completeStatus = 1 where id = @id
end
end
GO
/****** Object:  StoredProcedure [dbo].[sp_ManageProjectSubstaces]    Script Date: 1/28/2025 10:49:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_ManageProjectSubstaces]
@action varchar(100),
@id int = 0,
@project_Id int = 0,
@w_date date = null,
@title nvarchar(100) = null,
@comment text = null,
@reason varchar(max)=null,
@completion int = 0,
@attatchment nvarchar(200) = null,
@amount float = 0.00,
@createdAt datetime = null,
@projectId int=0,
@headId int=0,
@updateAt datetime = null,
@status bit = 0,
@appStatus int=0
as
begin
if @action = 'insertUpdate'
begin
insert into Project_Weekly_Update(project_Id, w_date, comment, completion, createdAt, updateAt, status) values(@project_Id, @w_date, @comment, @completion, getdate(), getdate(), 1)
end
else if @action = 'selectAllByProject'
begin
select * from Project_Weekly_Update where project_Id = @project_Id and status = 1
end

else if @action = 'insertExpences'
begin
insert into tbl_ProjectHeadExpenses(projectId, budgetHeadId, title, insertDate, amount, attatchment, description, createdAt, updatedAt, status,AppStatus,AppAmount) values (@project_id, @id, @title, @w_date, @amount, @attatchment, @comment, GETDATE(), GETDATE(), 1,0,0)
if @@rowcount>0
begin
update tbl_AdminAddProject set ApproveStatus=0 where id=@project_id
end
end

else if @action = 'selectExpenses'
begin
select * from tbl_ProjectHeadExpenses where projectId = @project_id and budgetHeadId = @id and status = 1
end
else if @action='updateProjectBudgetResponseFromAccounts'
begin
Declare @totalAmount int;
Declare @requestedAmount int;
set @totalAmount=IsNull((select AppAmount from tbl_ProjectHeadExpenses where id=@id),0)
set @requestedAmount=IsNull((select amount from tbl_ProjectHeadExpenses where id=@id),0)
update tbl_ProjectHeadExpenses set AppStatus=(Case when @totalAmount>=@requestedAmount then 1 else @appStatus end),AppAmount=(Case when (@totalAmount+@amount) > @requestedAmount then @requestedAmount else (@totalAmount+@amount) end),reason=@reason where id=@id
if @@rowcount>0
begin
Declare @expensesCount int;
set @expensesCount=(select count(*) from tbl_ProjectHeadExpenses where projectId=@projectId and AppStatus=0 and status=1)
if @expensesCount=0
begin
update tbl_adminAddProject set approveStatus=1 where id=@projectId
end
end
end
else if @action = 'GetBudgetByProjectId'
begin
select distinct bd.*,ISNull((select sum(exp.amount) from tbl_ProjectHeadExpenses exp where exp.projectId=@id and exp.budgetHeadId=bd.id),0) as totalAskAmount,
IsNull((select sum(exp.AppAmount) from tbl_ProjectHeadExpenses exp where exp.projectId=@id and exp.budgetHeadId=bd.id),0) as approveAmount from tbl_AdminProjectBudgetDetails bd join tbl_ProjectHeadExpenses he on bd.id=he.BudgetHeadId where project_Id=@id and bd.status=1
end
end
GO
/****** Object:  StoredProcedure [dbo].[sp_ManageStageStatus]    Script Date: 1/28/2025 10:49:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_ManageStageStatus]
@Id int=0,
@stageId int=0,
@Comment nvarchar(max)=null,
@CompletionPrecentage varchar(50)=null,
@StageDocument nvarchar(max)=null,
@DelayReason nvarchar(max)=null,
@updateStatus varchar(100)=null,
@status bit=0,
@project_Id int=0,
@completionStatus int=0,
@action varchar(30)=null
as
begin
if(@action='insertStageStatus')
begin
insert into tbl_projectStagesStatus (stageId,Comment,CompletionPrecentage,StageDocument,CreatedDate,status,updateStatus) 
values(@stageId,@Comment,@CompletionPrecentage,@StageDocument,GETDATE(),1,@updateStatus)
End
if(@action='updateStageCompetionStatus')
begin
update tbl_AdminProjectStage set completionStatus=@completionStatus where project_Id=@project_Id
End
if(@action='viewDealyReason')
begin 
select * from tbl_projectStagesStatus where status=1 and stageId=@stageId
End
end
GO
/****** Object:  StoredProcedure [dbo].[sp_ManageSubordinateProjectProblem]    Script Date: 1/28/2025 10:49:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_ManageSubordinateProjectProblem]
@id INT =0,
@project_Id INT=0,
@Title NVARCHAR(200)=null,
@Description NVARCHAR(MAX)=null,
@Attachment NVARCHAR(MAX)=null,
@CreatedDate Datetime=null,
@projectManager int=0,
@Status bit=0,
@action varchar(30)=null
as
begin
if(@action='insertProblem')
begin
insert into tbl_subOrdinateProjectProblem (project_Id,Title,Description,Attachment,CreatedDate,Status) values(@project_Id,@Title,@Description,@Attachment,GETDATE(),1)
end
if(@action='getAllProblemListByManager')
begin

select sp.*,aap.Title as ProjectName ,aap.projectManager,aap.projectType from tbl_adminAddProject aap
inner join tbl_subOrdinateProjectProblem sp on aap.id=sp.project_Id
where aap.projectManager=@projectManager and sp.Status=1
End
if(@action='getAllSubOrdinateProblem')
begin
select sp.*,aap.Title as ProjectName ,aap.projectManager,aap.projectType from tbl_adminAddProject aap
inner join tbl_subOrdinateProjectProblem sp on aap.id=sp.project_Id
where  sp.Status=1
end
End
GO
/****** Object:  StoredProcedure [dbo].[sp_meetingConslusion]    Script Date: 1/28/2025 10:49:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_meetingConslusion]
@id int=0,
@meeting int=0,
@conclusion nvarchar(max)=null,
@nextFollow nvarchar(20)=null,
@memberId int=0,
@response nvarchar(max)=null,
@followUpStatus bit=0,
@keyId int=0,
@conclusionId int =0 output,
@summary nvarchar(max) = null,
@action varchar(50)=null
as
begin
if @action='insertConclusion'
begin
insert into tbl_meetingConslusion values(@meeting,@conclusion,@nextFollow,1)
set @conclusionId=Scope_Identity()
if @@rowCount>0
begin
if(@followUpStatus =0)
begin
update tbl_AdminCreateMeeting set meetSummary = @summary where id = @meeting;
end
update tbl_AdminCreateMeeting set FollowUpStatus=@followUpStatus,completeStatus=(case when @followUpStatus=1 then 0 else 1 end) where id=@meeting
update tbl_AdminMeetingMember set conclusionId=@conclusionId where meeting=@meeting and conclusionId is null
update tbl_MemberResponsForMeeting set conclusionId=@conclusionId where meeting=@meeting and conclusionId is null
end
end
else if @action='updateMeetingMemberPresence'
begin
update tbl_AdminMeetingMember set presentStatus=1 where employee=@memberId and conclusionId=@id 
end
else if @action='isertKeypointResponse'
begin
insert into tbl_KeypointResponse values(@keyId,@response,@id,1)
end
else if @action ='selectConclusion'
begin
select * from tbl_meetingconslusion mc join tbl_admincreateMeeting cm on mc.meeting=cm.id where mc.meeting=@meeting and mc.status=1 and cm.status=1 order by mc.id desc
end
else if @action='selectPresentMember'
begin
select distinct mm.presentStatus,ae.name,ae.profile,ae.role from tbl_adminmeetingmember mm join tbl_meetingConslusion mc on mm.conclusionId=mc.id left join tbl_adminemployees ae on ae.id=mm.employee where mc.id=@id
end
else if @action='KeyPointResponse'
begin
select * from tbl_keypointResponse pr join tbl_meetingConslusion mc on mc.id=pr.conclusionId join tbl_adminmeetingKeyPoint ap on ap.id=pr.KeyId where mc.id=@id and mc.status=1 and pr.status=1 and ap.status=1
end
else if @action='selectConclusionForProjectManager'
begin
select mc.conclusion,IsNull(mc.id,0) as id,mc.nextFollow from tbl_meetingConslusion mc join tbl_adminmeetingmember mm on mc.id=mm.conclusionId where mm.employee=@memberId and mm.meeting=@meeting group by mc.conclusion,mc.id ,mc.nextFollow
end
end

GO
USE [master]
GO
