
@{
    ViewBag.Title = "AddBudget";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
    var data = ViewData["budgetList"] as List<RemoteSensingProject.Models.Admin.main.BudgetForm>;
}

<style>
    .select2-container--default .select2-selection--single .select2-selection__rendered {
        color: #444;
        line-height: 13px;
    }
</style>
<nav class="page-breadcrumb d-flex align-items-center justify-content-between">
    <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item active" aria-current="page">Add Budget</li>
    </ol>
    <button class="btn btn-primary" id="addEmployeeBtn" data-bs-toggle="modal" data-bs-target="#addslider"><i class="link-icon" data-feather="plus"></i> Add Budget</button>
</nav>

<div class="modal fade" id="addslider" tabindex="-1" aria-labelledby="addslider" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-md modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="btn-close float-end" data-bs-dismiss="modal" aria-label="Close"></button>

                <h5 class="modal-title" id="exampleModalLabel"><span class="actionType">Add</span> Budget</h5>

            </div>
            <div class="modal-body">
                <form class="addEmployeeform" id="budgetForm">
                    <input type="hidden" id="employeeInpId" name="Id" />
                    <div class="row">
                        <div class="mb-3 col-md-8 mx-auto">
                            <label for="budget" class="form-label"> Budget</label>
                            <input type="number" class="form-control" name="budget" required id="budget" autocomplete="off" placeholder="Enter Budget">
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary"><i class="link-icon" data-feather="plus"></i><span class="actionType">Add</span> Budget</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row mx-0">
    <div class="col-sm-12">
        <table class="table-bordered table-striped" id="dataTableExample">
            <thead>
                <tr>
                    <th>S.N.</th>
                    <th>Budget</th>
                    <th>Added Date</th>
                    <th>Financial</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @if (data != null) {
                    foreach (var items in data) {
                <tr>
                    <td>@items.sn</td>
                    <td id="id_@items.sn">₹ @Convert.ToDecimal(items.budget).ToString("N2")</td>
                    <td>@items.addedDate</td>
                    <td>Null</td>
                    <td class="text-center"><i data-bs-toggle="modal" data-bs-target="#addslider" onclick="updateBudget()" class="fa-regular fa-pen-to-square"></i></td>
                </tr>
                }
                }
            </tbody>
        </table>
    </div>
</div>




<script>

    $(document).ready(function () {

        @*function updateBudget() {
            $("#budget").val($("#id_@"))
        }*@

        $("#budgetForm").submit(function (e) {
            e.preventDefault();
            Swal.fire({
                title: "Please wait !",
                text: "Your request under process",
                allowOutsideClick: false,
                allowEscapeKey: false,
                didOpen: () => { Swal.showLoading() }
            })
            let budget = $("#budget").val();
            $.ajax({
                url: '/admin/addbudget',
                type: 'post',
                data: { budget: budget },
                success: function (res) {
                    debugger
                    if (res.status) {
                        Swal.fire({
                            title: "Success",
                            text: res.message,
                            icon: "success",
                            didClose: () => { location.reload(true) }
                        })
                    }
                    else {
                        Swal.fire({
                            title: "Warning",
                            text: res.message,
                            icon: "warning"
                        })
                    }
                },
                error: function (xhr) {
                    Swal.fire({
                        title: "Server error !",
                        text: "Server busy. Try Again !",
                        icon: "error"
                    })
                }
            })
        })
    })
</script>